.navbar{
    background-color: #008aa8;
}

.navbar a{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

.navbar-brand{
    align-self: left;
}

.titulo-pagina{
    color: #F514E1;
    font-weight: bolder;
    text-align: center;
}

.subtitulo-pagina{
    font-weight: bold;
    text-align: center;
}

.novedades{
    font-weight: bold;
}

.text-secondary{
    font-style: italic;
}

.btn-primary{
    background-color: #008aa8;
}

.titulo-formulario{
    color:#F514E1;
}

.titulo-prod{
    color: #008aa8;
}

footer{
    background-color:#0089a849;
    min-height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.subtitulo-divisorio{
    color: #008aa8;
}

.subtitulo-usuario{
    color: #F514E1;
}

.tarjeta-usuario{
    color: #008aa8;
}

.imagenSesionUsuario{
    width: 50px;
    height: 50px;
}

.tarjeta-producto{
    transition: transform 0.3s ease;
}

.tarjeta-producto:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
}